<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unstable Unicorns 🦄</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    
    <link rel="stylesheet" href="/static/style.css">
    
    <script defer src="/static/jeu.js"></script>
</head>
<body>

    <div id="zone-connexion" class="container">
        <h2>Unstable Unicorns 🦄</h2>
        <p>Rejoindre ou créer une partie</p>
        <input type="text" id="input-nom" placeholder="Votre nom" />
        <input type="text" id="input-salle" placeholder="Nom de la salle" />
        <button id="btn-rejoindre">Rejoindre</button>
    </div>

    <div id="zone-jeu" style="display: none;">
        
        <div id="zone-infos-joueurs" class="container">
            <h2>Salle : <span id="nom-salle"></span></h2>
            <hr>
            
            <h3>Joueurs :</h3>
            <ul id="liste-joueurs">
                </ul>
            
            <button id="btn-lancer-partie">Lancer la partie ! (Min 2)</button>
            <hr>
            <h3>Logs :</h3>
            <div id="logs">
                </div>
        </div>

        <div id="zone-plateau-main" class="container">
            <h3>Infos Partie: <span id="infos-partie"></span></h3>
            <div id="zone-actions-joueur">
                <button id="btn-piocher" style="display: none;">Piocher (Action)</button>
            </div>
            
            <hr>
            
            <h3>Plateau (Écuries)</h3>
            <div id="plateau">
                </div>
            
            <hr>
            
            <h3>Ma Main</h3>
            <div id="ma-main">
                </div>
        </div>

    </div>

    <div id="overlay-action" class="overlay hidden">
        <div class="overlay-content">
            <h3>Action en attente</h3>
            <p id="overlay-message"></p>
            <p id="overlay-countdown"></p>
            <div id="overlay-buttons"></div>
        </div>
    </div>

</body>
</html>
